In [168]:
import pandas as pd

# Cargar el archivo CSV especificando el delimitador ';'
df = pd.read_csv('08f083d4-e0ca-48ce-a017-c2e680f43b6e.csv', delimiter=';', encoding='utf-8')

# Verificar las primeras filas para asegurarte de que se cargó correctamente
print(df.head())

   periodo estu_tipodocumento  estu_consecutivo cole_area_ubicacion  \
0    20224                 TI  SB11202240221646              URBANO
1    20224                 TI  SB11202240133463              URBANO
2    20224                 TI  SB11202240405789              URBANO
3    20224                 TI  SB11202240413516              URBANO
4    20224                 TI  SB11202240280980              URBANO

  cole_bilingue cole_calendario      cole_caracter  \
0             N               A  TÉCNICO/ACADÉMICO
1             N               A            TÉCNICO
2           NaN               A          ACADÉMICO
3             N               A          ACADÉMICO
4             N               A  TÉCNICO/ACADÉMICO

  cole_cod_dane_establecimiento cole_cod_dane_sede  cole_cod_depto_ubicacion  \
0                   1,17174E+11        1,17174E+11                        17
1                   1,17001E+11        1,17001E+11                        17
2                   3,17001E+11        3,17001E+11                        17
3                   1,17388E+11        1,17388E+11                        17
4                   1,17614E+11        1,17614E+11                        17

   ...  fami_tienecomputador  fami_tieneinternet fami_tienelavadora  \
0  ...                    Si                  Si                 Si
1  ...                    Si                  Si                 Si
2  ...                    Si                  Si                 Si
3  ...                    No                  No                 Si
4  ...                    No                  No                 Si

  desemp_ingles punt_ingles punt_matematicas punt_sociales_ciudadanas  \
0            A-        38.0             55.0                     63.0
1            B1        71.0             61.0                     66.0
2            B1        68.0             38.0                     43.0
3            A-        36.0             34.0                     31.0
4            A-        40.0             48.0                     36.0

  punt_c_naturales punt_lectura_critica punt_global
0             62.0                 61.0       293.0
1             67.0                 69.0       331.0
2             48.0                 53.0       236.0
3             39.0                 40.0       180.0
4             38.0                 54.0       218.0

[5 rows x 51 columns]

In [169]:
df

,periodo,estu_tipodocumento,estu_consecutivo,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,...,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
0,20224,TI,SB11202240221646,URBANO,N,A,TÉCNICO/ACADÉMICO,"1,17174E+11","1,17174E+11",17,...,Si,Si,Si,A-,38.0,55.0,63.0,62.0,61.0,293.0
1,20224,TI,SB11202240133463,URBANO,N,A,TÉCNICO,"1,17001E+11","1,17001E+11",17,...,Si,Si,Si,B1,71.0,61.0,66.0,67.0,69.0,331.0
2,20224,TI,SB11202240405789,URBANO,NaN,A,ACADÉMICO,"3,17001E+11","3,17001E+11",17,...,Si,Si,Si,B1,68.0,38.0,43.0,48.0,53.0,236.0
3,20224,TI,SB11202240413516,URBANO,N,A,ACADÉMICO,"1,17388E+11","1,17388E+11",17,...,No,No,Si,A-,36.0,34.0,31.0,39.0,40.0,180.0
4,20224,TI,SB11202240280980,URBANO,N,A,TÉCNICO/ACADÉMICO,"1,17614E+11","1,17614E+11",17,...,No,No,Si,A-,40.0,48.0,36.0,38.0,54.0,218.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137567,20172,CC,SB11201720286102,RURAL,N,A,ACADÉMICO,"2,17662E+11","2,17662E+11",17,...,No,NaN,No,A-,39.0,35.0,37.0,38.0,38.0,186.0
137568,20172,CC,SB11201720279599,URBANO,N,A,ACADÉMICO,"1,17001E+11","1,17001E+11",17,...,No,No,Si,A-,34.0,32.0,33.0,33.0,40.0,172.0
137569,20132,TI,SB11201320428730,URBANO,N,A,TÉCNICO/ACADÉMICO,"1,17541E+11","1,17541E+11",17,...,No,No,No,A-,42.0,52.0,NaN,NaN,NaN,NaN
137570,20142,CC,SB11201420316989,URBANO,N,A,ACADÉMICO,"1,17877E+11","1,17877E+11",17,...,Si,No,No,A-,38.0,38.0,47.0,36.0,52.0,214.0
137571,20142,TI,SB11201420040552,URBANO,N,A,ACADÉMICO,"1,17001E+11","1,17001E+11",17,...,Si,Si,Si,A1,57.0,52.0,53.0,58.0,50.0,268.0

In [170]:
df.columns

Index(['periodo', 'estu_tipodocumento', 'estu_consecutivo',
       'cole_area_ubicacion', 'cole_bilingue', 'cole_calendario',
       'cole_caracter', 'cole_cod_dane_establecimiento', 'cole_cod_dane_sede',
       'cole_cod_depto_ubicacion', 'cole_cod_mcpio_ubicacion',
       'cole_codigo_icfes', 'cole_depto_ubicacion', 'cole_genero',
       'cole_jornada', 'cole_mcpio_ubicacion', 'cole_naturaleza',
       'cole_nombre_establecimiento', 'cole_nombre_sede',
       'cole_sede_principal', 'estu_cod_depto_presentacion',
       'estu_cod_mcpio_presentacion', 'estu_cod_reside_depto',
       'estu_cod_reside_mcpio', 'estu_depto_presentacion', 'estu_depto_reside',
       'estu_estadoinvestigacion', 'estu_estudiante', 'estu_fechanacimiento',
       'estu_genero', 'estu_mcpio_presentacion', 'estu_mcpio_reside',
       'estu_nacionalidad', 'estu_pais_reside', 'estu_privado_libertad',
       'fami_cuartoshogar', 'fami_educacionmadre', 'fami_educacionpadre',
       'fami_estratovivienda', 'fami_personashogar', 'fami_tieneautomovil',
       'fami_tienecomputador', 'fami_tieneinternet', 'fami_tienelavadora',
       'desemp_ingles', 'punt_ingles', 'punt_matematicas',
       'punt_sociales_ciudadanas', 'punt_c_naturales', 'punt_lectura_critica',
       'punt_global'],
      dtype='object')

### Limpieza base de datos

In [91]:
df['periodo'].value_counts()

periodo
20194    20852
20224    19864
20112    12284
20102    11989
20122    11916
20142    11729
20132    11682
20162    11191
20152    10866
20172    10554
20111      605
20121      579
20181      494
20131      475
20101      454
20141      421
20151      413
20221      251
20211      231
20161      199
20171      187
20191      178
20201      158
Name: count, dtype: int64

In [92]:
df['estu_tipodocumento'].value_counts()

estu_tipodocumento
TI     104265
CC      31835
CR       1243
CE        130
PEP        38
NES        36
PPT         8
PC          7
PE          5
PV          4
V           1
Name: count, dtype: int64

In [93]:
df['estu_consecutivo'].value_counts()

estu_consecutivo
SB11201940292025    4
SB11201940320923    4
SB11201940293274    4
SB11201940292387    4
SB11201940292907    4
                   ..
SB11201020417318    1
SB11201020416466    1
SB11201220418890    1
SB11201220417421    1
SB11201420040552    1
Name: count, Length: 116754, dtype: int64

In [94]:
df['cole_area_ubicacion'].value_counts()

cole_area_ubicacion
URBANO    111079
RURAL      26493
Name: count, dtype: int64

In [95]:
df['cole_bilingue'].value_counts()

cole_bilingue
N    123880
S      1015
Name: count, dtype: int64

In [96]:
df['cole_calendario'].value_counts()

cole_calendario
A    134968
B      2604
Name: count, dtype: int64

In [97]:
df['cole_caracter'].value_counts()

cole_caracter
ACADÉMICO            77865
TÉCNICO/ACADÉMICO    37712
TÉCNICO              20663
NO APLICA              567
Name: count, dtype: int64

In [98]:
df['cole_cod_dane_establecimiento'].value_counts()

cole_cod_dane_establecimiento
117001001536    3624
117873000168    2403
117380000347    2196
117777000726    2163
317001007002    2149
                ...
317001005638      23
317001800136      22
317380001016      12
317001005824      10
317380000451       6
Name: count, Length: 274, dtype: int64

In [99]:
df['cole_cod_dane_sede'].value_counts()

cole_cod_dane_sede
117001001536    3624
117873000168    2403
117380000347    2196
117777000726    2163
317001007002    2149
                ...
217653000021       8
217541000266       6
317380000451       6
217653000501       4
217653000773       2
Name: count, Length: 325, dtype: int64

In [100]:
df['cole_cod_depto_ubicacion'].value_counts()

cole_cod_depto_ubicacion
17    137572
Name: count, dtype: int64

In [101]:
df['cole_cod_mcpio_ubicacion'].value_counts()

cole_cod_mcpio_ubicacion
17001    58402
17380     9023
17873     8557
17614     7406
17174     6889
17777     5145
17042     4725
17013     3146
17541     2933
17433     2820
17662     2776
17486     2535
17524     2443
17653     2248
17513     2221
17444     2145
17050     2118
17877     2095
17867     1553
17088     1378
17616     1335
17272     1291
17442     1150
17388     1130
17495      962
17665      786
17446      360
Name: count, dtype: int64

In [102]:
df['cole_codigo_icfes'].value_counts()

cole_codigo_icfes
76653.0     2147
42341.0     1990
6130.0      1706
86389.0     1597
26658.0     1367
            ...
2535.0         1
174532.0       1
134957.0       1
60111.0        1
119164.0       1
Name: count, Length: 561, dtype: int64

In [103]:
df['cole_depto_ubicacion'].value_counts()

cole_depto_ubicacion
CALDAS    137572
Name: count, dtype: int64

In [104]:
df['cole_genero'].value_counts()

cole_genero
MIXTO        127910
FEMENINO       5334
MASCULINO      4328
Name: count, dtype: int64

In [105]:
df['cole_jornada'].value_counts()

cole_jornada
MAÑANA      67738
COMPLETA    30659
UNICA       13172
NOCHE       11953
SABATINA     7640
TARDE        6410
Name: count, dtype: int64

In [106]:
df['cole_mcpio_ubicacion'].value_counts()

cole_mcpio_ubicacion
MANIZALES      58402
LA DORADA       9023
RIOSUCIO        7406
VILLAMARÍA      5837
ANSERMA         4725
CHINCHINÁ       4541
SUPÍA           3430
AGUADAS         3146
PENSILVANIA     2933
MANZANARES      2820
VILLAMARIA      2720
NEIRA           2535
PALESTINA       2443
CHINCHINA       2348
SALAMINA        2248
MARQUETALIA     2145
ARANZAZU        2118
VITERBO         2095
SAMANÁ          1851
SUPIA           1715
VICTORIA        1553
PÁCORA          1440
RISARALDA       1335
FILADELFIA      1291
MARMATO         1150
LA MERCED       1130
NORCASIA         962
SAMANA           925
BELALCÁZAR       884
PACORA           781
SAN JOSÉ         544
BELALCAZAR       494
MARULANDA        360
SAN JOSE         242
Name: count, dtype: int64

In [107]:
df['cole_naturaleza'].value_counts()

cole_naturaleza
OFICIAL       116511
NO OFICIAL     21061
Name: count, dtype: int64

In [108]:
df['cole_nombre_establecimiento'].value_counts()

cole_nombre_establecimiento
INSTITUCION EDUCATIVA UNIVERSITARIO DE CALDAS                    3624
INSTITUCION EDUCATIVA FRANCISCO JOSE DE CALDAS                   2652
INSTITUCION EDUCATIVA ESCUELA NORMAL SUPERIOR SAGRADO CORAZON    2426
INSTITUCION EDUCATIVA GERARDO ARIAS RAMIREZ                      2403
INSTITUCION EDUCATIVA NUESTRA SEÑORA DEL CARMEN                  2196
                                                                 ...
COLEGIO DE LA UNIVERSIDAD AUTONOMA                                 23
COLEGIO LEON DE JUDA                                               22
INSTITUTO EDUCATIVO HUMANISTA                                      12
GIMNASIO SAN FELIPE NERI                                           10
COLEGIO LA VOZ DE LA ESPERANZA                                      6
Name: count, Length: 262, dtype: int64

In [109]:
df['cole_nombre_sede'].value_counts()

cole_nombre_sede
INSTITUCIÓN EDUCATIVA INSTITUTO UNIVERSITARIO DE CALDAS                           3624
INST.EDUC CONTINUA CONFAMILIARES SEDE A                                           2149
COLEGIO BOSTON - SEDE PRINCIPAL                                                   2096
INSTITUCION EDUCATIVA ESCUELA NORMAL SUPERIOR SAGRADO CORAZON - SEDE PRINCIPAL    1822
INSTITUCION EDUCATIVA GERARDO ARIAS RAMIREZ - SEDE PRINCIPAL                      1796
                                                                                  ...
SEDE ALVARO SERNA BOTERO                                                             8
ESCUELA NUEVA LA FLORIDA                                                             6
COLEGIO LA VOZ DE LA ESPERANZA                                                       6
ESCUELA RURAL CAÑAVERAL                                                              4
SEDE EL CEDRITO                                                                      2
Name: count, Length: 456, dtype: int64

In [110]:
df['cole_sede_principal'].value_counts()

cole_sede_principal
S         131859
N           5506
 VALOR       207
Name: count, dtype: int64

#### Error de las BBDD

In [187]:
# Filtrar las filas donde 'cole_sede_principal' es igual a "VALOR"
filas_valor = df[df['cole_sede_principal'] == " VALOR"]

# Mostrar las filas filtradas
filas_valor

,periodo,estu_tipodocumento,estu_consecutivo,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,...,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
3016,20162,CC,SB11201620067066,URBANO,NaN,A,ACADÉMICO,"3,17174E+11","3,17174E+11",17,...,Si,Si,NaN,NaN,47.0,48.0,47.0,48.0,NaN,NaN
5386,20142,TI,SB11201420554262,URBANO,NaN,A,ACADÉMICO,"3,17174E+11","3,17174E+11",17,...,Si,Si,NaN,NaN,40.0,48.0,40.0,48.0,NaN,NaN
5551,20152,TI,SB11201520336600,URBANO,NaN,A,ACADÉMICO,"3,17174E+11","3,17174E+11",17,...,Si,Si,NaN,NaN,57.0,57.0,57.0,57.0,NaN,NaN
6887,20112,CC,SB11201120415309,URBANO,NaN,A,ACADÉMICO,"3,17174E+11","3,17174E+11",17,...,No,No,NaN,NaN,39.0,45.0,39.0,45.0,NaN,NaN
7169,20142,CC,SB11201420554737,URBANO,NaN,A,ACADÉMICO,"3,17174E+11","3,17174E+11",17,...,Si,No,NaN,NaN,38.0,36.0,38.0,36.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129803,20142,CC,SB11201420551986,URBANO,NaN,A,ACADÉMICO,"3,17174E+11","3,17174E+11",17,...,Si,Si,NaN,NaN,42.0,49.0,42.0,49.0,NaN,NaN
132304,20172,CC,SB11201720240098,URBANO,NaN,A,ACADÉMICO,"3,17174E+11","3,17174E+11",17,...,No,No,NaN,NaN,34.0,49.0,34.0,49.0,NaN,NaN
135243,20122,CC,SB11201220416538,URBANO,NaN,A,ACADÉMICO,"3,17174E+11","3,17174E+11",17,...,No,No,NaN,NaN,30.0,25.0,30.0,25.0,NaN,NaN
135551,20111,TI,SB11201110068258,URBANO,NaN,A,ACADÉMICO,"3,17174E+11","3,17174E+11",17,...,Si,Si,NaN,NaN,48.0,44.0,48.0,44.0,NaN,NaN
136755,20142,CC,SB11201420527556,URBANO,NaN,A,ACADÉMICO,"3,17174E+11","3,17174E+11",17,...,Si,Si,NaN,NaN,49.0,45.0,49.0,45.0,NaN,NaN

In [185]:
# Filtrar las filas donde 'cole_sede_principal' es igual a "VALOR"
filas_valor = df['cole_sede_principal'] == " VALOR"

# Obtener el índice de la columna 'estu_depto_presentacion'
col_index = df.columns.get_loc('estu_depto_presentacion')

# Iterar sobre las columnas desde 'estu_depto_presentacion' hacia el final
for i in range(col_index, len(df.columns) - 2):  # Hasta dos columnas antes del final
    # Determinar la columna actual y la columna destino (2 posiciones atrás)
    columna_actual = df.columns[i]
    columna_destino = df.columns[i - 2]
    
    # Mover los valores de la columna actual a la columna destino
    df.loc[filas_valor, columna_destino] = df.loc[filas_valor, columna_actual]

# Limpiar las últimas dos columnas (porque sus valores ya fueron movidos hacia atrás)
df.loc[filas_valor, df.columns[-1]] = None
df.loc[filas_valor, df.columns[-2]] = None

# Verificar las columnas afectadas
print(df[filas_valor])

        periodo estu_tipodocumento  estu_consecutivo cole_area_ubicacion  \
3016      20162                 CC  SB11201620067066              URBANO
5386      20142                 TI  SB11201420554262              URBANO
5551      20152                 TI  SB11201520336600              URBANO
6887      20112                 CC  SB11201120415309              URBANO
7169      20142                 CC  SB11201420554737              URBANO
...         ...                ...               ...                 ...
129803    20142                 CC  SB11201420551986              URBANO
132304    20172                 CC  SB11201720240098              URBANO
135243    20122                 CC  SB11201220416538              URBANO
135551    20111                 TI  SB11201110068258              URBANO
136755    20142                 CC  SB11201420527556              URBANO

       cole_bilingue cole_calendario cole_caracter  \
3016             NaN               A     ACADÉMICO
5386             NaN               A     ACADÉMICO
5551             NaN               A     ACADÉMICO
6887             NaN               A     ACADÉMICO
7169             NaN               A     ACADÉMICO
...              ...             ...           ...
129803           NaN               A     ACADÉMICO
132304           NaN               A     ACADÉMICO
135243           NaN               A     ACADÉMICO
135551           NaN               A     ACADÉMICO
136755           NaN               A     ACADÉMICO

       cole_cod_dane_establecimiento cole_cod_dane_sede  \
3016                     3,17174E+11        3,17174E+11
5386                     3,17174E+11        3,17174E+11
5551                     3,17174E+11        3,17174E+11
6887                     3,17174E+11        3,17174E+11
7169                     3,17174E+11        3,17174E+11
...                              ...                ...
129803                   3,17174E+11        3,17174E+11
132304                   3,17174E+11        3,17174E+11
135243                   3,17174E+11        3,17174E+11
135551                   3,17174E+11        3,17174E+11
136755                   3,17174E+11        3,17174E+11

        cole_cod_depto_ubicacion  ...  fami_tienecomputador  \
3016                          17  ...                    Si
5386                          17  ...                    Si
5551                          17  ...                    Si
6887                          17  ...                    No
7169                          17  ...                    Si
...                          ...  ...                   ...
129803                        17  ...                    Si
132304                        17  ...                    No
135243                        17  ...                    No
135551                        17  ...                    Si
136755                        17  ...                    Si

        fami_tieneinternet fami_tienelavadora desemp_ingles punt_ingles  \
3016                    Si                NaN           NaN        47.0
5386                    Si                NaN           NaN        40.0
5551                    Si                NaN           NaN        57.0
6887                    No                NaN           NaN        39.0
7169                    No                NaN           NaN        38.0
...                    ...                ...           ...         ...
129803                  Si                NaN           NaN        42.0
132304                  No                NaN           NaN        34.0
135243                  No                NaN           NaN        30.0
135551                  Si                NaN           NaN        48.0
136755                  Si                NaN           NaN        49.0

       punt_matematicas punt_sociales_ciudadanas punt_c_naturales  \
3016               48.0                     47.0             48.0
5386               48.0                     40.0             48.0
5551               57.0                     57.0             57.0
6887               45.0                     39.0             45.0
7169               36.0                     38.0             36.0
...                 ...                      ...              ...
129803             49.0                     42.0             49.0
132304             49.0                     34.0             49.0
135243             25.0                     30.0             25.0
135551             44.0                     48.0             44.0
136755             45.0                     49.0             45.0

       punt_lectura_critica punt_global
3016                    NaN         NaN
5386                    NaN         NaN
5551                    NaN         NaN
6887                    NaN         NaN
7169                    NaN         NaN
...                     ...         ...
129803                  NaN         NaN
132304                  NaN         NaN
135243                  NaN         NaN
135551                  NaN         NaN
136755                  NaN         NaN

[207 rows x 51 columns]

In [188]:
filas_valor['estu_cod_depto_presentacion'].value_counts()

Series([], Name: count, dtype: int64)

In [189]:
filas_valor['estu_depto_reside'].value_counts()

estu_depto_reside
CALDAS       199
RISARALDA      3
Name: count, dtype: int64

In [190]:
filas_valor['estu_cod_mcpio_presentacion'].value_counts()

Series([], Name: count, dtype: int64)

In [191]:
filas_valor['estu_estadoinvestigacion'].value_counts()

estu_estadoinvestigacion
PUBLICAR    207
Name: count, dtype: int64

In [192]:
filas_valor['estu_estudiante'].value_counts()

estu_estudiante
ESTUDIANTE    207
Name: count, dtype: int64

In [193]:
filas_valor['estu_fechanacimiento'].value_counts()

estu_fechanacimiento
9/09/94     2
6/03/97     2
26/03/93    2
2/02/95     2
11/11/93    2
           ..
4/03/92     1
22/04/93    1
7/01/93     1
23/02/94    1
8/09/93     1
Name: count, Length: 201, dtype: int64

In [194]:
filas_valor['estu_genero'].value_counts()

estu_genero
F    113
M     94
Name: count, dtype: int64

In [195]:
filas_valor['estu_mcpio_presentacion'].value_counts()

estu_mcpio_presentacion
CHINCHINÁ    116
MANIZALES     91
Name: count, dtype: int64

In [196]:
filas_valor['estu_mcpio_reside'].value_counts()

estu_mcpio_reside
CHINCHINÁ              182
PALESTINA               11
MANIZALES                5
SANTA ROSA DE CABAL      2
RISARALDA                1
PEREIRA                  1
Name: count, dtype: int64

In [197]:
filas_valor['estu_nacionalidad'].value_counts()

estu_nacionalidad
COLOMBIA    207
Name: count, dtype: int64

In [198]:
filas_valor['estu_pais_reside'].value_counts()

estu_pais_reside
COLOMBIA    207
Name: count, dtype: int64

In [199]:
filas_valor['estu_privado_libertad'].value_counts()

estu_privado_libertad
N    207
Name: count, dtype: int64

In [200]:
filas_valor['fami_cuartoshogar'].value_counts()

fami_cuartoshogar
Dos       87
Tres      69
Cuatro    27
Uno       13
Cinco      4
Seis       2
Nueve      1
Siete      1
Name: count, dtype: int64

In [201]:
filas_valor['fami_educacionmadre'].value_counts()

fami_educacionmadre
Primaria incompleta                     55
Secundaria (Bachillerato) completa      49
Primaria completa                       46
Secundaria (Bachillerato) incompleta    30
Ninguno                                  9
Educación profesional completa           6
No sabe                                  4
Técnica o tecnológica completa           3
Postgrado                                1
Técnica o tecnológica incompleta         1
Name: count, dtype: int64

In [202]:
filas_valor['fami_educacionpadre'].value_counts()

fami_educacionpadre
Primaria incompleta                     53
Secundaria (Bachillerato) completa      45
Primaria completa                       41
Secundaria (Bachillerato) incompleta    33
Ninguno                                 11
Técnica o tecnológica completa           7
No sabe                                  6
Educación profesional completa           4
Educación profesional incompleta         2
Técnica o tecnológica incompleta         2
Name: count, dtype: int64

In [203]:
filas_valor['fami_estratovivienda'].value_counts()

fami_estratovivienda
Estrato 2    126
Estrato 1     36
Estrato 3     33
Estrato 4      6
Estrato 6      1
Name: count, dtype: int64

#### Valor BBDD

In [204]:
df['estu_cod_depto_presentacion'].value_counts()

estu_cod_depto_presentacion
17.0    135885
66.0      1188
73.0       139
11.0        41
5.0         38
76.0        13
25.0         9
15.0         9
41.0         6
54.0         4
68.0         4
50.0         3
63.0         3
8.0          3
13.0         2
70.0         2
20.0         2
19.0         1
18.0         1
85.0         1
23.0         1
Name: count, dtype: int64

In [205]:
df['estu_cod_mcpio_presentacion'].value_counts()

estu_cod_mcpio_presentacion
17001.0    69190
17614.0    14029
17380.0    11430
17174.0     8680
17042.0     6911
           ...
66687.0        1
5154.0         1
70820.0        1
25175.0        1
8433.0         1
Name: count, Length: 74, dtype: int64

In [206]:
df['estu_cod_reside_depto'].value_counts()

estu_cod_reside_depto
17.0    135952
73.0       144
66.0       102
5.0         99
25.0        71
11.0        71
76.0        18
15.0        15
63.0         7
54.0         6
52.0         5
41.0         5
68.0         5
50.0         4
70.0         4
18.0         3
13.0         2
86.0         2
85.0         2
44.0         2
8.0          2
95.0         1
81.0         1
27.0         1
19.0         1
94.0         1
Name: count, dtype: int64

In [208]:
df['estu_cod_reside_mcpio'].value_counts()

estu_cod_reside_mcpio
17001.0    59195
17380.0     8891
17614.0     7147
17174.0     7034
17873.0     6886
           ...
5591.0         1
85001.0        1
5380.0         1
5756.0         1
5031.0         1
Name: count, Length: 122, dtype: int64

In [209]:
df['estu_depto_presentacion'].value_counts()

estu_depto_presentacion
CALDAS             136092
RISARALDA            1188
TOLIMA                139
BOGOTÁ                 41
ANTIOQUIA              38
VALLE                  13
CUNDINAMARCA            9
BOYACA                  9
HUILA                   6
NORTE SANTANDER         4
SANTANDER               4
META                    3
QUINDIO                 3
ATLANTICO               3
BOLIVAR                 2
SUCRE                   2
CESAR                   2
CAUCA                   1
CAQUETA                 1
CASANARE                1
CORDOBA                 1
Name: count, dtype: int64

In [210]:
df['estu_depto_reside'].value_counts()

estu_depto_reside
CALDAS             136151
TOLIMA                144
RISARALDA             105
ANTIOQUIA              99
CUNDINAMARCA           71
BOGOTÁ                 71
VALLE                  18
BOYACA                 15
QUINDIO                 7
NORTE SANTANDER         6
NARIÑO                  5
HUILA                   5
SANTANDER               5
META                    4
SUCRE                   4
CAQUETA                 3
BOLIVAR                 2
PUTUMAYO                2
CASANARE                2
LA GUAJIRA              2
ATLANTICO               2
GUAVIARE                1
ARAUCA                  1
CHOCO                   1
CAUCA                   1
GUAINIA                 1
Name: count, dtype: int64

In [211]:
df['estu_estadoinvestigacion'].value_counts()

estu_estadoinvestigacion
PUBLICAR                                  137517
VALIDEZ OFICINA JURÍDICA                      34
NO SE COMPROBO IDENTIDAD DEL EXAMINADO        11
PRESENTE CON LECTURA TARDIA                   10
Name: count, dtype: int64

In [212]:
df['estu_estudiante'].value_counts()

estu_estudiante
ESTUDIANTE    137572
Name: count, dtype: int64

In [213]:
df['estu_fechanacimiento'].value_counts()

estu_fechanacimiento
5/07/02       56
6/06/94       53
7/06/02       52
22/12/93      52
1/07/05       52
              ..
27/03/72       1
10/01/73       1
27/12/78       1
18/04/0004     1
5/08/83        1
Name: count, Length: 10292, dtype: int64

In [214]:
df['estu_genero'].value_counts()

estu_genero
F    75520
M    61979
Name: count, dtype: int64

In [215]:
df['estu_mcpio_presentacion'].value_counts()

estu_mcpio_presentacion
MANIZALES           69281
RIOSUCIO            14029
LA DORADA           11430
CHINCHINÁ            8796
ANSERMA              6911
                    ...
SANTUARIO               1
CAUCASIA                1
SANTIAGO DE TOLÚ        1
CHÍA                    1
MALAMBO                 1
Name: count, Length: 74, dtype: int64

In [216]:
df['estu_mcpio_reside'].value_counts()

estu_mcpio_reside
MANIZALES      59200
LA DORADA       8891
CHINCHINÁ       7216
RIOSUCIO        7147
VILLAMARÍA      6886
               ...
LA ESTRELLA        1
SONSÓN             1
QUIBDÓ             1
SOLEDAD            1
AMALFI             1
Name: count, Length: 115, dtype: int64

In [217]:
df['estu_nacionalidad'].value_counts()

estu_nacionalidad
COLOMBIA                137402
VENEZUELA                  138
ESTADOS UNIDOS               9
ESPAÑA                       8
REPÚBLICA DOMINICANA         2
ARGENTINA                    2
ECUADOR                      2
PERÚ                         2
CHILE                        1
ITALIA                       1
URUGUAY                      1
CIUDAD DEL VATICANO          1
FRANCIA                      1
OMÁN                         1
JAPÓN                        1
Name: count, dtype: int64

In [129]:
df['estu_pais_reside'].value_counts()

estu_pais_reside
COLOMBIA                137195
CHINCHINÁ                  182
VENEZUELA                  138
PALESTINA                   11
ESTADOS UNIDOS               9
ESPAÑA                       8
MANIZALES                    5
REPÚBLICA DOMINICANA         2
ARGENTINA                    2
SANTA ROSA DE CABAL          2
ECUADOR                      2
PERÚ                         2
CHILE                        1
RISARALDA                    1
PEREIRA                      1
ITALIA                       1
URUGUAY                      1
CIUDAD DEL VATICANO          1
FRANCIA                      1
OMÁN                         1
JAPÓN                        1
Name: count, dtype: int64

In [218]:
df['estu_privado_libertad'].value_counts()

estu_privado_libertad
N    137482
S        90
Name: count, dtype: int64

In [219]:
df['fami_cuartoshogar'].value_counts()

fami_cuartoshogar
Tres          53470
Dos           49729
Cuatro        18419
Uno            5669
Cinco          5346
Seis o mas     1001
Seis            971
Siete           319
Ocho            133
Diez o más       86
Nueve            60
Name: count, dtype: int64

In [220]:
df['fami_educacionmadre'].value_counts()

fami_educacionmadre
Secundaria (Bachillerato) completa      34488
Primaria incompleta                     26951
Secundaria (Bachillerato) incompleta    20259
Primaria completa                       19819
Educación profesional completa          10506
Técnica o tecnológica completa           8783
No sabe                                  3123
Postgrado                                2863
Ninguno                                  2582
Técnica o tecnológica incompleta         2006
Educación profesional incompleta         1866
No Aplica                                 134
Name: count, dtype: int64

In [221]:
df['fami_educacionpadre'].value_counts()

fami_educacionpadre
Primaria incompleta                     32971
Secundaria (Bachillerato) completa      28018
Primaria completa                       18317
Secundaria (Bachillerato) incompleta    16322
No sabe                                 10609
Educación profesional completa           9154
Ninguno                                  6111
Técnica o tecnológica completa           5642
Postgrado                                2523
Educación profesional incompleta         1522
Técnica o tecnológica incompleta         1297
No Aplica                                 914
Name: count, dtype: int64

In [46]:
df['fami_estratovivienda'].value_counts()

fami_estratovivienda
Estrato 2                               53892
Estrato 1                               37730
Estrato 3                               31130
Estrato 4                                6119
Estrato 6                                2368
Estrato 5                                1670
Sin Estrato                               838
Primaria incompleta                        55
Secundaria (Bachillerato) completa         49
Primaria completa                          46
Secundaria (Bachillerato) incompleta       30
Ninguno                                     9
Educación profesional completa              6
No sabe                                     4
Técnica o tecnológica completa              3
Postgrado                                   1
Técnica o tecnológica incompleta            1
Name: count, dtype: int64

In [222]:
df['fami_personashogar'].value_counts()

fami_personashogar
3 a 4         28723
Cuatro        26139
Tres          17859
Cinco         16856
5 a 6         13142
Seis           8411
Dos            5695
1 a 2          5344
Siete          4074
7 a 8          3016
Ocho           2225
Nueve          1043
9 o más         963
Diez            630
Doce o más      461
Una             326
Once            264
Name: count, dtype: int64

In [223]:
df['fami_tieneautomovil'].value_counts()

fami_tieneautomovil
No    109528
Si     25562
Name: count, dtype: int64

In [224]:
df['fami_tienecomputador'].value_counts()

fami_tienecomputador
Si    76028
No    58327
Name: count, dtype: int64

In [225]:
df['fami_tieneinternet'].value_counts()

fami_tieneinternet
Si    70823
No    63377
Name: count, dtype: int64

In [226]:
df['fami_tienelavadora'].value_counts()

fami_tienelavadora
Si    92556
No    42454
Name: count, dtype: int64

In [227]:
df['desemp_ingles'].value_counts()

desemp_ingles
A-    68418
A1    44305
A2    14936
B1     7384
B+     2302
Name: count, dtype: int64

In [228]:
df['punt_ingles'].value_counts()

punt_ingles
43.00     9892
45.00     5728
39.00     5235
47.00     4944
40.00     4716
          ...
51.01        1
23.36        1
24.90        1
117.29       1
25.71        1
Name: count, Length: 244, dtype: int64

In [229]:
df['punt_matematicas'].value_counts()

punt_matematicas
49.00     5801
52.00     5445
46.00     4865
45.00     4697
55.00     4415
          ...
87.15        1
87.61        1
82.16        1
68.03        1
113.64       1
Name: count, Length: 271, dtype: int64

In [230]:
df['punt_sociales_ciudadanas'].value_counts()

punt_sociales_ciudadanas
50.0    3260
47.0    3231
53.0    3072
44.0    3071
49.0    2975
        ...
9.0        1
99.0       1
15.0       1
12.0       1
1.0        1
Name: count, Length: 91, dtype: int64

In [231]:
df['punt_c_naturales'].value_counts()

punt_c_naturales
48.0    3435
49.0    3343
46.0    3272
50.0    3256
52.0    3219
        ...
14.0       2
17.0       2
8.0        2
89.0       1
15.0       1
Name: count, Length: 83, dtype: int64

In [232]:
df['punt_lectura_critica'].value_counts()

punt_lectura_critica
54.0    3542
50.0    3485
51.0    3448
47.0    3374
52.0    3254
        ...
15.0       1
86.0       1
18.0       1
8.0        1
96.0       1
Name: count, Length: 78, dtype: int64

In [233]:
df['punt_global'].value_counts()

punt_global
238.0    871
250.0    850
243.0    825
245.0    817
233.0    807
        ...
457.0      1
436.0      1
454.0      1
450.0      1
462.0      1
Name: count, Length: 350, dtype: int64